{% extends "admins/base_template/base.html" %}

{% block title %}Payment Tracking{% endblock %}

{% block main %}
<div class="back-button-container">
    <button class="back-button btn btn-outline-primary" onclick="goBack()">Back</button>
</div>

    <h2 class="subtitle">Financial Report</h2>
    <h3 class="text-center mt-4">All Time Report</h3>
    <table class="table table-bordered table-fixed mt-4">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
        </colgroup>
        <thead>
            <tr>
                <th class="text-center">Time Period</th>
                <th class="text-center">Total Subscription</th>
                <th class="text-center">Total Swimmming Lesson Tuition</th>
                <th class="text-center">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="text-center">All Time</td>
                    <td class="text-center">{{ total_subscription }}</td>
                    <td class="text-center">{{ total_tuition }}</td>
                    <td class="text-center">{{ total_revenue }}</td>
                </tr>
        </tbody>
    </table>
    <h3 class="text-center mt-4">Financial Report Grouped By Month</h3>
    <table class="table table-bordered table-fixed mt-4">
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
        </colgroup>
        <thead>
            <tr>
                <th class="text-center">Year</th>
                <th class="text-center">Month</th>
                <th class="text-center">Total Subscription</th>
                <th class="text-center">Total Swimmming Lesson Tuition</th>
                <th class="text-center">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
          
            {% for item in group_by_month_list %}
                <tr>
                    <td class="text-center">{{ item[0] }}</td>
                    <td class="text-center">{{ item[1] }}</td>
                    <td class="text-center">{{ item[3] }}</td>
                    <td class="text-center">{{ item[2] }}</td>
                    <td class="text-center">{{ item[4] }}</td>
                </tr>
             
            {% endfor %}
               
        </tbody>
    </table>
</div>
{% endblock %}