{% extends "admins/base_template/base.html" %}

{% block title %}Admin Profile{% endblock %}

<!-- Name (Title, First Name, Family Name), Position, Phone Number, Email.  -->

{% block main %}
<div class="back-button-container">
    <button
    class="back-button btn btn-outline-primary" 
    onclick="window.location.href ='/admin/admin/dashboard'">
    Back
    </button>
</div>

<div class="custom-container">
    <div class="row text-align-center">
        <div class="subtitle col-md-12">
            <h2 class="subtitle">Your Profile</h1>
            <p>Edit your profile information below:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="display: flex; justify-content: center;">
            <div class="card">
                <div class="card-body" style="width: 400px">
                    <form action="/admin/update_profile" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input type="text" id="title" name="title" class="form-control" value="{{ account[1] }}">
                        </div>

                        <div class="mb-3">
                            <label for="first_name" class="form-label"><span style="color: red;">*</span>First Name:</label>
                            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ account[2] }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="last_name" class="form-label"><span style="color: red;">*</span>Last Name:</label>
                            <input type="text" id="last_name" name="last_name" class="form-control" value="{{ account[3] }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="position" class="form-label">Position:</label>
                            <input type="text" id="position" name="position" class="form-control" value="{{ account[4] }}">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label"><span style="color: red;">*</span>Email:</label>
                            <input type="email" id="email" name="email" class="form-control" value="{{ account[6] }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label"><span style="color: red;">*</span>Phone:</label>
                            <input type="tel" id="phone" name="phone" class="form-control" value="{{ account[5] }}" required>
                        </div>

                        
                        <div class="mb-3">
                            <label for="username" class="form-label"><span style="color: red;">*</span>Username:</label>
                            <input type="text" id="username" name="username" class="form-control" value="{{ account[10] }}" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="****">
                        </div>

                        <button type="submit" class="save-btn btn btn-primary">Save Profile</button>
                    </form>
                    {% if msg %}
                        <div class="alert alert-info mt-3">{{ msg }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
