{% extends "members/base_template/base.html" %}

{% block title %}Instructor Information{% endblock %}

{% block main %}
<div class="back-button-container">
    <button class="back-button btn btn-outline-primary" onclick="goBack()">Back</button>
</div>
<!-- Fangxin is testing -->
<!-- {{instructor[9]}} -->

<div class="container">
    <h2 class="subtitle">Instructor Profile</h2>
    <div class="row">
        <div class="col-md-4">
            {% if instructor[9] %}
                <!-- <img src="{{ url_for('static', filename='images/' + instructor[9]) }}" alt="Instructor Image" class="img-fluid"> -->
                <!-- Fangxin Tang edits -->
                <img src="/{{instructor[9]}}" alt="{{instructor[2]}}" class="img-fluid">
                {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <!--<h2 class="subtitle">Instructor Information</h2>-->
            <p>Welcome, {{ username }}! Here is the information for the instructor:</p>
            <ul>
                <li><strong>First Name:</strong> {{ instructor[2] }}</li>
                <li><strong>Last Name:</strong> {{ instructor[3] }}</li>
                <li><strong>Position:</strong> {{ instructor[4] }}</li>
                <li><strong>Email:</strong> {{ instructor[6] }}</li>
            </ul>
            
        </div>
    </div>
    
    <!-- Add more sections here, such as available time slots -->
    <!-- For example:
    <div class="row">
        <div class="col-md-12">
            <h2>Available Time Slots</h2>
                Include a table or other formatting for time slots -->   
        </div>
    </div>

</div>
{% endblock %}
